.wrapper-second {
  max-width: 1200px;
  margin: 0 auto;
}

.button-div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.button-form {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.wap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}

@media screen and (max-width: 415px) {
  .form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }
}

.error {
  opacity: 1;
  color: red;
}

.hidden {
  opacity: 0;
}

.input-text {
  margin-right: 10px;
}

.submit-button {
  margin-left: 125px;
  border: none;
  background: green;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button {
  grid-column: 4;
  border: none;
  background: aquamarine;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button {
  border: none;
  background: grey;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
